body{
  background-color:#B4E5EA;
  border:1px solid red;
  width:1440px;
  font-family:'Helvetica', sans-serif;
  margin: auto;
}

header{
  height:5%;
  background-color:#fff;
  padding:3%;
}

.column-1{
  width:50%;
  float:left;
  padding:2%;
  box-sizing: border-box;
}

.column-2{
  width:50%;
  float:right;
  display:inline-block;
  padding:2%;
  box-sizing: border-box;
}

footer{
  height:5%;
  background-color:#EEE;
  clear:both;
  padding:3%;
  text-align:center;
}
